.searchbarMainContainer {
    /* height: 64px; */
    padding: 10px 20px;
    /* border: 2px solid gray; */
}

.searchbarMainContainer form {
    min-height: 64px;
}

.searchbarMainContainer form .searchText {
    /* height: 100%; */
    width: 50vw;
    border-radius: 44px 0 0 44px;
    outline: none;
    border: 2px solid gray;
    border-right: none;
    padding: 10px 20px;
    background-color: transparent;
    color: gray;
    font-size: 3vmin;
    font-weight: 600;
    letter-spacing: 1px;
}

.searchbarMainContainer form .searchButton {
    height: 44px;
    aspect-ratio: 1/1;
    border-radius: 0 100% 100% 0;
    border: none;
    outline: none;
    background-color: transparent;
    border: 2px solid gray;
}